* {
    margin: 0px;
    padding: 0px;
}

nav {
    background-color: teal;
    height: 10vh;
    width: 100%;
    position: fixed;
}

.phead {
    padding-top: 15vh;
    text-align: center;
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.MainDiv {
    border: 2px solid black;
    margin: 2vh;
    padding: 2vh;
    width: 75vh;
}

.pee {
    font-weight: bolder;
    text-align: center;
}

.peeno {
    /* font-weight: bolder; */
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2vh;
    /* width: 20vh; */
}